{%extends 'base.html'%}
{%block title%}Sign In{%endblock%} 

{%block content%}
<h2>Sign the petition</h2>
<form action="#" method="POST">
    Name : <input name="nm" type="text" required/> 
    Surname : <input name="sname" type="text" required/> 
    <input type="submit" value="Sign"/> 
</form>
<br>
<br> 
<h3>Why you need to sign ?</h3> 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis vitae et leo duis ut. Amet risus nullam eget felis eget nunc lobortis mattis. Massa sed elementum tempus egestas. Duis tristique sollicitudin nibh sit amet commodo. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin. Non tellus orci ac auctor. Penatibus et magnis dis parturient montes. Quis risus sed vulputate odio ut. Arcu non odio euismod lacinia at quis risus. Tortor aliquam nulla facilisi cras fermentum odio eu. Blandit aliquam etiam erat velit scelerisque in dictum non. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc.</p>
<br><a href="/">See who has joined the cause</a>
{%endblock%}